/* Style umum */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #0077cc;
    color: white;
    padding: 20px 0;
}

main {
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #0077cc;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005fa3;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}
